name: Deploy to Production

on:
  push:
    branches: [ "master" ]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  test:
    uses: ./.github/workflows/tests.yml

  build:
    needs: test
    runs-on: self-hosted
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - name: Log in to Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./deploy/Dockerfile
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:master

  deploy:
    needs: build
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4

      - name: Log in to Registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Create .env file
        run: |
          echo "${{ secrets.PROD_ENV_FILE }}" > .env.prod

      - name: Deploy Production
        run: |
          docker compose -f deploy/docker-compose.yml pull
          docker compose --env-file .env.prod -f deploy/docker-compose.yml up -d
          
          # Clear Caches (Execute inside the container)
          docker compose -f deploy/docker-compose.yml exec -T laravel php artisan optimize:clear
          docker compose -f deploy/docker-compose.yml exec -T laravel php artisan optimize
          
          docker image prune -f